<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <main>
        <section class="center main-content">
        <h1>Login</h1>
        <form action="/users/miPerfil" method="POST">
            <input type="text" placeholder="email" name="email"> <br>
            <input type="text" placeholder="contraseña" name="password"> <br>
            <input type="submit" value="enviar" >
        </form>
        </section>
    </main>

    <%- include('./partials/footer') %>
</body>
 
</html>