
<!DOCTYPE html>
<html lang="en">

<%-include('./partials/head') %>  

<body>
    <%- include('./partials/header') %>

    <main>
        <section class="center main-content">
        <h1>Registrate</h1>
        </section>

        <form action="/users/registrarUsuario" method="POST">
            <input type="text" placeholder="usuario" name="user"> <br>
            <input type="text" placeholder="email" name="email"> <br>
            <input type="text" placeholder="contraseña" name="password"> <br>
            <input type="text" placeholder="dni" name="dni"> <br>
            <input type="file" name="photo"> <br>
            <input type="submit" value="enviar" >
        </form>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>