
<!DOCTYPE html>
<html lang="en">

<%-include('./partials/head') %>  

<body>
    <%- include('./partials/header') %>

    <main>
        <section class="center main-content">
        <h1>Registrate</h1>
        </section>

        <form enctype="multipart/form-data" action="/users/registrarUsuario" method="POST">
            <input required type="text" placeholder="usuario" name="user"> <br>
            <input required type="text" placeholder="email" name="email"> <br>
            <input required type="text" placeholder="contraseña" name="password"> <br>
            <input required type="number" placeholder="dni" name="dni"> <br>
            <input required type="date" placeholder="fecha de nacimiento" name="fecha"> <br>
            <input required type="file" name="photo"> <br>
            <input type="submit" value="registrate" >
        </form>
    </main>

    <%- include('./partials/footer') %>
</body>

</html>